<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
    <div class="row">
        <div class="col"><span class="badge badge-pill badge-primary" th:text="${userName}"></span></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"><img th:src="@{/images/radcheck.png}" class="rounded"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"><span class="badge badge-pill badge-info" th:text="${adminMessage}"></span></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col"><img th:src="@{/images/radiation.png}" class="rounded"></div>
    </div>
</div>

</body>
</html>