<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>
<script>
$(document).ready(function(){
    $('[data-toggle="confirmation"]').confirmation({
        rootSelector: '[data-toggle="confirmation"]'
    });
});
</script>

<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.success}">
    The location <strong th:text="${session.locale}" th:unless="${session.locale == null}"></strong> has been successfully saved to your account.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${param.remove}">
    The location <strong th:text="${session.locale}" th:unless="${session.locale == null}"></strong> has been successfully removed from your account.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.max}">
    Your account has already saved the maximum of 20 locations. Please remove unused locations in order to add more.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.toofew}">
    Your account needs at least 4 saved locations in order to build a 2x2 report.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.toofewthree}">
    Your account needs at least 9 saved locations in order to build a 3x3 report.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.toofewfour}">
    Your account needs at least 16 saved locations in order to build a 4x4 report.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.duplicate}">
    The location <strong th:text="${session.locale}" th:unless="${session.locale == null}"></strong> is already saved to your account.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col p-sm-3">
            <p>Your account at <strong th:text="${user.getEmail()}"></strong> registered to RadCheck on <span th:text="${user.getJoinedOn().toString()}"></span></p>
        </div>
    </div>
    <div class="row p-sm-1">
        <div class="col p-sm-3" th:unless="${user.locations} and ${user.locations.size()}">
            <p>You don't have any locations saved to this account. Start searching! 🕵️</p>
        </div>
        <div class="col" th:if="${user.locations} and ${user.locations.size()}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Location No.</th>
                    <th>Location Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Refreshed?</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="location : ${user.locations}">
                    <td th:text="${#numbers.formatInteger(user.getLocations().indexOf(location) + 1,1)}"></td>
                    <td th:text="${names.get(user.getLocations().indexOf(location))}"></td>
                    <td th:text="${#numbers.formatDecimal(location.lat,1,6)}"></td>
                    <td th:text="${#numbers.formatDecimal(location.lon,1,6)}"></td>
                    <td><span th:if="${location.updateTimestamp.after(refresh)}" class="badge badge-pill badge-success">Yes</span>
                        <span th:if="${location.updateTimestamp.before(refresh)}" class="badge badge-pill badge-danger">No</span></td>
                    <td>
                        <a th:href="@{'/view/' + ${location.id}}" class="btn btn-primary">View</a>
                        <a th:href="@{'/edit/' + ${location.id}}" class="btn btn-info">Update</a>
                        <a th:href="@{'/delete/' + ${location.id}}" class="btn btn-danger" data-toggle="confirmation"
                           th:attr="data-title='Remove ' + ${names.get(user.getLocations().indexOf(location))}"
                           data-content="Are you sure you want to delete this location from your account?"
                           data-placement="right" data-singleton="true" data-popout="true" data-btn-ok-label="Yes 👍"
                           data-btn-ok-class="btn-success" data-btn-cancel-label="No 👎"
                           data-btn-cancel-class="btn-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="fragments :: foot"></footer>
</body>
</html>