<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="wrapper">

<nav th:replace="fragments :: navigation"></nav>

<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
    Please enter a location name between 3 and 30 characters and try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<h3 class="text-center p-3">You are about to update the name of the following location:</h3>

<div class="container push">
    <form class="form-control" method="POST" th:action="@{/edit}" th:object="${submitForm}">
        <div class="row m-3">
            <div class="col form-group embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" frameborder="0" style="border: 3px solid Black" th:attr="src='https://www.google.com/maps/embed/v1/view?zoom=14&amp;center=' + *{location.getLat()} + '%2C' + *{location.getLon()} + '&amp;key=' + ${key}"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col form-group text-center">
                <h4 class="p-2" th:text="'Latitude: ' + *{#numbers.formatDecimal(location.getLat().toString(),1,6)}"></h4>
                <h4 class="p-2" th:text="'Longitude: ' + *{#numbers.formatDecimal(location.getLon().toString(),1,6)}"></h4>
                <label th:for="locationName" class="p-1">Enter a new name for this location:</label>
                <input th:field="*{locationName}" type="text" th:placeholder="*{city} + ', ' + *{country}" class="py-2" />
                <div class="p-2">
                    <button type="submit" class="btn btn-primary form-control">Confirm location</button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments :: foot"></footer>
</div>
</body>
</html>