<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="wrapper">
    <script th:replace="fragments :: notify"></script>
    <script th:replace="fragments :: prompt"></script>

    <nav th:replace="fragments :: navigation"></nav>

<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${consent} == true">
        This application uses cookies. By continuing to use this application you are agreeing to
        our use of cookies as described in our <a th:href="@{/privacy}" target="_blank"
        style="color: black;">Privacy Policy.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${param.logout}">
    You have successfully logged out.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.retry}">
    AQI information for this location could not be pulled. Please choose a different location.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.error}">
    Please add a non-empty input to your search query and try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.denied}">
    You do not have access to that page because you lack account privileges.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="map_container"><div id="map"></div></div>
            </div>
        </div>
        <div th:replace="fragments :: donation"></div>
    </div>


<div class="container"><form th:action="@{/}" method="POST" th:object="${gmap}">
    <div class="form-group py-2">
        <div class="mx-auto text-center">
            <label for="address">Search map:</label>
            <input id="address" type="search" th:value="*{address}" th:field="*{address}">
            <button id="locate" type="button" class="btn btn-light">🔍</button>
        </div>
    </div>
    <script th:inline="javascript">
        initMap();
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),{
            center: {lat: [[*{lat}]], lng: [[*{lon}]]},
            zoom: 17
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('locate').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                    document.getElementById('latitude').value = marker.position.lat();
                    document.getElementById('longitude').value = marker.position.lng();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script th:attr="src=${key}" async defer></script>
    <input type="hidden" id="latitude" value="" th:field="*{lat}">
    <input type="hidden" id="longitude" value="" th:field="*{lon}">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-md btn-block pt-2">Find measurement here</button>
    </div>
    </form>
</div>
<div class="container pt-3">
    <div class="row">
        <div class="col text-center">
            <p class="display-4">Welcome to RadCheck</p>
        </div>
    </div>
</div>
<div class="container push">
    <div class="row">
        <div class="col m-3"><p>RadCheck is a web application for looking up radiation readings in your local area and around
        the world. Results will include ratings to help you make informed decisions regarding your environment. There are
            also details about the weather and air quality with every result. You can quickly find measurements by
            typing in an address in the map search bar. By registering for an account, you can save up to 20 locations,
            so you can easily look up results for daily updates. An account also allows you to make reports on multiple
        locations at once.</p>
        <p>Thanks for visiting, and stay safe out there!</p></div>
    </div>
</div>

    <footer th:replace="fragments :: foot"></footer>
</div>


</body>
</html>