<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.logon}">
    The account at <strong th:text="${account}"></strong> is now logged in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${param.logout}">
    You have successfully logged out.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.retry}">
    Something went wrong when pulling data for this location. Please try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
    You do not have access to that page because you lack account privileges.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="map_container"><div id="map"></div></div>
<div class="container"><form class="form-inline" th:action="@{/}" method="POST" th:object="${gmap}">
    <div id="floating-panel" class="form-group">
        <label for="address">Search the map:&nbsp;&nbsp;</label>
        <input id="address" type="search" class="form-control" th:value="*{address}" th:field="*{address}">
        <button id="locate" type="button" class="btn btn-light">🔍</button>
    </div>
    <script>
        initMap();
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),{
            center: {lat: 38.624976, lng: -90.184776},
            zoom: 17
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('locate').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script th:attr="src=${key}" async defer></script>
        <button type="submit" class="btn btn-primary btn-block">Find measurement here</button>
        <span th:errors="*{address}" class="error"></span>
    </form></div>
<div class="container">
    <p>You can also find a measurement by <a href="/manual">entering coordinates manually.</a></p>
</div>
</body>
</html>