<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="wrapper">

<nav th:replace="fragments :: navigation"></nav>

<div class="container p-3">
    <h2>Manually enter your coordinates:</h2>
</div>

<div class="container push"><form method="POST" class="form-control mb-3" th:action="@{/manual}" th:object="${measurements}">

    <div class="form-group">
        <label th:for="radLat">Enter latitude of measurement</label>
        <input class="form-control" th:field="*{radLat}" />
        <span th:errors="*{radLat}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="radLng">Enter longitude of measurement</label>
        <input class="form-control" th:field="*{radLng}" />
        <span th:errors="*{radLng}" class="error"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-md">Find measurement</button>
</form></div>
<footer th:replace="fragments :: foot"></footer>
</div>
</body>
</html>