<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="wrapper">

<nav th:replace="fragments :: navigation"></nav>
    <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${consent} == true">
        This application uses cookies. By continuing to use this application you are agreeing to
        our use of cookies as described in our <a th:href="@{/privacy}" target="_blank"
                                                  style="color: black;">Privacy Policy.</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">OK</span>
        </button>
    </div>

<form th:action="@{/login}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
</form>

<div class="container p-3 push">
    <div th:replace="fragments :: donation"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-control">
                <h3>Register a new user</h3>
                <div class="form-group">
                    <div class="col-9">
                        <input type="email" th:field="*{email}" placeholder="Email"
                               class="form-control" /> <label
                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="error"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="error"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-9">
                        <input type="password" th:field="*{verify}"
                               placeholder="Verify password" class="form-control" /> <label
                            th:if="${#fields.hasErrors('verify')}" th:errors="*{verify}"
                            class="error"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-9">
                        <div class="custom-control custom-checkbox m-1">
                            <input type="checkbox" class="custom-control-input" name="agree" id="agree" value="true">
                            <label class="custom-control-label" for="agree">I have read and agree to the
                            <a th:href="@{privacy}" target="_blank" style="color: Blue;">Privacy Policy</a> and consent to the use
                            of cookies.</label>
                            <span th:utext="${consentMessage}" class="error"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-9">
                        <button type="submit" class="btn btn-primary btn-block btn-md">Register User</button>
                    </div>
                </div>
                <strong><span th:utext="${successMessage}"></span></strong>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments :: foot"></footer>
</div>
</body>
</html>