<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
    Please enter a location name between 3 and 30 characters and try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container">
    <div class="row">
        <h3 class="text-center p-sm-3">You are about to save the following location to your account:</h3>
    </div>
</div>

<div class="container">
    <form class="form-control mb-sm-3" method="POST" th:action="@{/save}" th:object="${submitForm}">
        <div class="row p-sm-5">
            <div class="col-sm-6 embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" frameborder="0" style="border: 3px solid Black" th:attr="src='https://www.google.com/maps/embed/v1/view?zoom=14&amp;center=' + *{location.getLat()} + '%2C' + *{location.getLon()} + '&amp;key=' + ${key}"></iframe>
            </div>
            <div class="col-sm-4 offset-sm-1 form-group">
                <h4 class="p-sm-2" th:text="'Latitude: ' + *{#numbers.formatDecimal(location.getLat().toString(),1,6)}"></h4>
                <h4 class="p-sm-2" th:text="'Longitude: ' + *{#numbers.formatDecimal(location.getLon().toString(),1,6)}"></h4>
                <label th:for="locationName">Enter a name for this location:</label>
                <input th:field="*{locationName}" type="text" th:placeholder="*{city} + ', ' + *{country}" />
                <div class="p-sm-2">
                    <button type="submit" class="btn btn-primary form-control">Confirm location</button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments :: foot"></footer>
</body>
</html>