<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="wrapper">

<nav th:replace="fragments :: navigation"></nav>

<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${param.logon}">
    The account at <strong th:text="${account}"></strong> is now logged in.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.retry}">
    AQI information for this location could not be pulled. Please choose a different location.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.error}">
    Please add a non-empty input to your search query and try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div id="map_container"><div id="map"></div></div>
            </div>
        </div>
    </div>
<div class="container"><form th:action="@{/search}" method="POST" th:object="${gmap}">
    <div class="form-group py-2">
        <div class="mx-auto text-center">
            <label for="address">Search map:</label>
            <input id="address" type="search" th:value="*{address}" th:field="*{address}">
            <button id="locate" type="button" class="btn btn-light">🔍</button>
        </div>
    </div>
    <script th:inline="javascript">
        initMap();
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),{
            center: {lat: [[*{lat}]], lng: [[*{lon}]]},
            zoom: 17
            });
            var geocoder = new google.maps.Geocoder();

            document.getElementById('locate').addEventListener('click', function() {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                    document.getElementById('latitude').value = marker.position.lat();
                    document.getElementById('longitude').value = marker.position.lng();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
    <script th:attr="src=${key}" async defer></script>
    <input type="hidden" id="latitude" value="" th:field="*{lat}">
    <input type="hidden" id="longitude" value="" th:field="*{lon}">
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-md btn-block pt-2">Find measurement here</button>
    </div>
</form>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col"><h5 class="text-center">&mdash;&nbsp;or&nbsp;&mdash;</h5></div>
    </div>
</div>
<div class="container push">
    <div class="row">
        <div class="col mb-3"><a th:href="@{/manual}"><button class="btn btn-info btn-md btn-block">Use manual coordinates</button></a></div>
    </div>
</div>
<footer th:replace="fragments :: foot"></footer>
</div>
</body>
</html>